.post svg {
    width: 40px;
}
.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;

}
.deleteButton {
    font-size: 40px;
}

.comments_buton {
    margin-bottom: 5px;
}
